<!DOCTYPE html>
<html>
  <head>
    <title>File Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900 text-white p-5">
      <a href="/" class="text-blue-500 hover:underline">&larr; Back</a>
      <h1 class="text-3xl font-bold mt-5"><%= filename %></h1>
      <pre class="bg-zinc-800 p-4 mt-5 rounded text-lg"><%= filedata %></pre>
      <button onclick="del();" class="bg-yellow-600 text-3xl text-zinc-100 px-4 py-1 mt-4 rounded-lg"> DELETE</button>
    </div>

    <script>
        function del() {
            const filename = "<%= filename %>";
            fetch("/delete", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ filename: filename })
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = "/";
                } else {
                    alert("Failed to delete the file.");
                }
            })
            .catch(error => {
                console.error("Error:", error);
                alert("Failed to delete the file.");
            });
        }
    </script>
  </body>

</html>
